<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>963453917735-9lv20ff7uqv7ipf17oc9bfj6t2p9a38n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963453917735-9lv20ff7uqv7ipf17oc9bfj6t2p9a38n</string>
	<key>API_KEY</key>
	<string>AIzaSyBtExtoN3jXLRnz8qXHKiWHfEmTffZIxLw</string>
	<key>GCM_SENDER_ID</key>
	<string>963453917735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.expodiseno.IMCorrs</string>
	<key>PROJECT_ID</key>
	<string>imcorrs-app</string>
	<key>STORAGE_BUCKET</key>
	<string>imcorrs-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:963453917735:ios:2b81e81cb97ec3bc</string>
	<key>DATABASE_URL</key>
	<string>https://imcorrs-app.firebaseio.com</string>
</dict>
</plist>
